<?xml version="1.0"?>
<launch>
    <arg name="gazebo" default="false" />
    <param name="robot_description"
           command="$(find xacro)/xacro --inorder '$(find cartesian_description)/urdf/cartesian.urdf.xacro'" />

    <!-- <node if="$(arg gazebo)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
</launch>
